.about-main-container{
    background-color: #006666;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.about-main-container p {
    width: 80%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    line-height: 2;
    color: #FFF5BB;
    background-color: #85807F;
}