.main-container{
    background-color: #006666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.main-info{
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    margin: 20px;
    color: #FFF5BB;
}

.about{
    font-size: 40px;
    margin: 20px;
    color: #FFF5BB;

}
.info{
    text-align: center;
    /* width: 200px; */

    font-size: 40px;
    /* margin: 20px; */
    color: #FFF5BB;
    /* word-wrap: break-word; */

  

}

.instructions{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    color: #FFF5BB;
}



.main-oval{
    background-image: url(https://res.cloudinary.com/otisg/image/upload/v1639890274/ProspectPark_liithp.jpg);
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
    color:#FFF5BB;
    font-size: 25px;
   
}


@media (max-width: 768px) {
    .main-oval{
       
        height: 250px;
        width: 250px;
    }


    .main-info{
        width: 200px;
        font-size: 40px;
        margin: 20px;
        color: #FFF5BB;
    }
    
  }
  

