.portfolio-main{

  
   background-color: #006666;
    height: 100%;
    border: black solid 4px;  
  
    display: flex;
  flex-direction: row;                 
  flex-wrap: wrap;      
  align-items: center;
  justify-content: center;                  
  list-style: none;
  padding: 0;  
  

}



li {
              

       background-color: #9dbcbc;
    height: 400px;
    width: 350px;
    border: 1px solid black;
    display: flex;                         
    justify-content: center;               
    align-items: center;    
    justify-content: center;
    color: red;
    font-size: x-large;
    margin: 20px;
    
}

.portfolio-main li a {

    font-size: x-large; 
    margin-top: 120px;
}





.madden-plays{
  background-image: url(https://res.cloudinary.com/otisg/image/upload/v1635120494/madden_kjowwi.jpg);
  background-size: cover;
}

.tacato-truck{
  background-image: url(https://res.cloudinary.com/otisg/image/upload/v1635119219/Tacato-cat_f6iun2.png);
  background-size: cover;
}

.quad-pack{
  background-image: url(https://res.cloudinary.com/otisg/image/upload/v1635119161/alabama-travel_tcvqv7.jpg);
  background-size: cover;
}


.choose-you{
  background-image: url(https://res.cloudinary.com/otisg/image/upload/v1635119168/pokemon-battle_yaxnom.png);
  background-size: cover;
}

.inspiring-youth{
  background-image: url(https://res.cloudinary.com/otisg/image/upload/v1708453682/IYAM_omjvz1.jpg);
  background-size: cover;
}


@media (max-width: 900px) {
  .portfolio-main{
 
   
   flex-direction: column;                 

   
 
 }

    
li {
              

  
    width: 150px;
    height: 75px;
    border-radius: 70%;
}
.portfolio-main li a {

  font-size: small; 
  margin-top: 5px;
}
    
  }